/* Header Özelleştirme */
header {
    align-items: center;
    background-color: rgb(25, 118, 210);
    justify-content: space-between;
    display: flex;
    padding: 15px;
}

header a {
    color: white;
    text-decoration: none;
}

header a h1 {
    margin: 0;
}

/* Arama Alanı Özelleştirmesi (Henüz Eklenmedi)
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  background-color: white;
  display: flex;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.search-container input[type="text"] {
  border: none;
  border-radius: 5px;
}

.search-container button {
  border: none;
  background-color: #ccc;
  color: white;
  padding: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-container button:hover {
  cursor: pointer;
  background-color: #aaa;
}
*/

/* Mobil Optimizasyonu */
@media (max-width: 768px) {
  /* Arama Kutusu Optimizasyonu */
  #search-box {
    max-width: 100px;
  }

  .search-box input[type="text"] {
    width: 150px;
  }

  .search-box button[type="submit"] {
    width: 30px;
    height: 30px;
  }

  .search-box button[type="submit"]:before {
    font-size: 16px;
  }
}
/* Header Özelleştirmesi Sonu */

.container {
  display: flex;
  flex-wrap: wrap;
}
  
.box {
  flex-basis: 25%;
  padding: 10px;
  box-sizing: border-box;
}
  
.box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}