/* Belge metni fontu */
body {
  font-family: 'Times New Roman', Times, serif;
}

/* Başlık alanı */
header {
  display: flex;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.25);
}

/* Başlık alanındaki resimler */
header img {
  width: 100px;
  padding: 5px;
  margin: 10px 15px;
  border-radius: 10px;
}

/* Başlık alanındaki başlık metni */
header h1 {
  display: none;
}

/* İçerik alanı */
.icerik-alani {
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.25);
}

/* Slayt bölümü */
.slayt {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* Slayt içinde kayan alan */
.kayan-alan {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

/* Kayan alanın kaydırma çubuğu */
.kayan-alan::-webkit-scrollbar {
  display: none;
}

/* Slayt içindeki resimler */
.kayan-alan img {
  width: calc(50% - 10px);
  margin: 5px;
  border-radius: 10px;
}

/* Slaytın kaydırma kontrolleri */
.slayt .kaydirma-kontrolleri {
  position: absolute;
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

/* Slaytın kaydırma kontrolleri butonları */
.slayt .kaydirma-kontrolleri button {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 35px;
  width: 5vw;
  height: 5vw;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Slayt üzerine gelindiğinde kaydırma kontrolleri butonlarının görünürlüğü */
.slayt:hover .kaydirma-kontrolleri button {
  opacity: 1;
}

/* Slaytın kaydırma kontrolleri butonlarının üzerine gelindiğinde border rengi */
.slayt .kaydirma-kontrolleri button:hover {
  border: 1px solid blue;
}

/* İkinci seviye başlık */
h2 {
  color: rgb(80, 87, 134);
  margin: 10px;
}

/* Yeni eklenen satır */
.yeni-eklenen-satir {
  position: relative;
  display: flex;
  margin: 10px;
}

/* Yeni eklenen satırın renkli arka planı */
.yeni-eklenen-renk {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: rgb(217, 221, 246);
  z-index: -1;
}

/* Kayan satır alanı */
.kayan-satir-alani {
  display: inline-flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

/* Kayan satır alanının kaydırma çubuğu */
.kayan-satir-alani::-webkit-scrollbar {
  display: none;
}

/* Satır içindeki kutular */
.kutu {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(100% / 3 - 30px);
  border-radius: 10px;
  margin: 5px;
  background-color: white;
}

/* Kutunun içindeki resimler */
.kutu img {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Kutunun içindeki metin */
.kutu p {
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

/* Satırın kaydırma kontrolleri */
.satir-kontrolleri {
  position: absolute;
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

/* Satırın kaydırma kontrolleri butonları */
.satir-kontrolleri button {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 35px;
  width: 5vw;
  height: 5vw;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Satır üzerine gelindiğinde kaydırma kontrolleri butonlarının görünürlüğü */
.satir-kontrolleri:hover button {
  opacity: 1;
}

/* Satırın kaydırma kontrolleri butonlarının üzerine gelindiğinde border rengi */
.satir-kontrolleri button:hover {
  border: 1px solid blue;
}

@media screen and (max-width: 1080px) {

  header {
    background-color: rgb(25, 118, 210);
  }

  header img {
    display: none;
  }

  header h1 {
    display: block;
    color: white;
    margin: 5px;
    margin-left: 15px;
  }

  .slidingArea img {
    width: calc(100% - 10px);
  }

  .slidingArea .box {
    width: calc(50vw - 20px);
  }
}