header {
  align-items: center;
  background-color: rgb(25, 118, 210);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

header a {
  color: white;
  text-decoration: none;
}

header a h2 {
  margin: 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  /*NOT: Bu projenin gelişiminde yeni menü ögelerinin eklenmesi muhtemeldir bu iki özellik şu anda ihtiyaç olmadığı halde eklenmiştir.*/
}

nav .nav-links {
  display: flex; /*Yeni eklenecek menüler için uyumluluk amacı ile yazılmıştır.*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(250 250 250);
  border-radius: 5px;
}

nav .nav-links a {
  color: black;
  display: block;
  margin: 0;
  padding: 5px;
}

.container {
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.line {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}

.line h3 {
  margin: 15px;
  margin-bottom: 0;
}

.sliding-box-container {
  display: flex;
  padding: 5px;
  transition: transform 0.7s ease-in-out;
}

.sliding-box-container .sliding-box {
  display: flex;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}

.sliding-box .box {
  width: calc(100vw / 3);
  background-color: #eaeaea;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.85);
  margin: 5px;
  transition: background-color 0.3s ease-in-out,
              transform 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;
}

.sliding-box .box:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  background-color: #D0D0D0;
}

.sliding-box .box img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.sliding-box .box a {
  display: flex;
}

.sliding-box .box h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px 5px;
  white-space: nowrap;
}

.box-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.box-control button {
  background: rgba(192, 192, 192, 0.25);
  border: none;
  font-size: 25px;
  cursor: pointer;
  pointer-events: auto;
}