body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

header {
  display: flex;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.25);
}

header img {
  width: 100px;
  padding: 5px;
  margin: 10px 15px;
  border-radius: 10px;
}

header h1 {
  display: none;
}

.kapsayici {
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.25);
}